
@media screen and (max-width:340px){
    #dvLogin{
        width: 100% !important;
        margin:unset auto !important;
        padding: unset !important;
    }
}
@media screen and  (max-width:1040px)
{
    .container {
        width: 750px !important;
        text-align: center!important;
    }
    #message {
        width:400px !important;
        
    }
    .msg{
        margin: 0 auto !important;
        width: 480px !important;
        
    }
    .msg .infoText
    {
        width: 460px !important;
        margin: 0 auto !important;
    }
    .msg .msgText,
    .msg .msgMyText{
        width :380px !important;
    }
    .msg .msgSender,
    .msg .msgMe{
        width: 100px !important;
    }
    
}
@media screen and (max-width:750px){
    .container {
        width: 100% !important; 
    }
}

@media screen and (max-height: 1000px)
{
    
}
body{
	font-family: 'Pontano Sans', sans-serif;
    font-size:larger;
    background: url("/media/wall.jpg");
    background-repeat: repeat;
}
#error-container{
    height:50px;
    display: block;
}
#dvLogin{
    width: 300px;
    background-color: #cbe896;
    display: block;
    text-align: center;
    margin: auto auto;
    margin-top: 125px;
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius: 16px 16px 16px 16px;
}
#dvLogin #name{
    width: 225px;
    height: 35px;
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius: 16px 16px 16px 16px;
    margin: 5px;
    margin-bottom: 25px;
}
#dvLogin a,
#dvLogin a:hover,
#dvLogin a:visited
{
    color:white;
    background-color:#54457f;
    display: block;
    border: 1px solid #ccc;
    padding: 5px 9px;
    border-radius: 16px 16px 16px 16px;
    margin: 5px;
    margin-bottom: 25px;
    text-decoration: none;
}
#loginButton{
	font-size:medium;
}
#message-container{
    
}
.button{
    background-color: #336699;
    border: 1px solid #ccffcc;
    padding: 9px 9px;
    border-radius: 16px 16px 16px 16px;
    margin:15px;
    color: whitesmoke;
}
.sendButton{
    background-color: #336699;
    color: whitesmoke;
    width:100px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 9px 9px;
    border-radius: 0px 16px 16px 0px;
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 15px;
}
#message{
    width: 850px;
    height: 35px;
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius: 16px 0px 0px 16px;
    margin: 5px;
    margin-right: 0px;
    margin-bottom: 15px;
}

.container{
    margin:0 auto;
    width:1000px;
    bottom: 0;
    position: absolute ;
    margin:auto;
    left: 0;
    right: 0;
    background-color: #e8f7d4;
    padding: 50px;
    padding-bottom: 0px;
    
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius: 16px 16px 16px 16px;
}
.msg{
    display: block; 
}
.msg .msgSender ,
    .msg .msgMe {
        height: 50px;
    }
.msg .msgSender .name,
    .msg .msgMe .name{
        display: inline-block;
        padding: 5px;
    }
#someOneIswriting{
    text-align: center;
}
.strangerWriting{
   display: table-cell;
   padding: 2px;
   text-align: center;
}
.rightEnd{
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius: 0px 16px 16px 0px;
}
.leftEnd{
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius: 16px 0px 0px 16px;
}
.msg .msgSender{
     min-height: 25px;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    width:180px;
    background-color: #8aa2c1;
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius: 16px 0px 0px 16px;
}
.msg .msgMe
{
    min-height: 25px;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    width:180px;

    background-color: #a2df53;
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius: 0px 16px 16px 0px;
}
.msg .msgText{
    min-height: 25px;
    font-style: italic;
    width: 780px;
    display: table-cell;
    background-color: #bccadc;
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius: 0px 16px 16px 0px;
    text-align: left;
}
.msg .msgText div,
.msg .msgMyText div
{
    display: inline-block;
}
.msg .msgMyText{
    font-style: italic;
    min-height: 25px;
    text-align: right;
    width: 780px;
    display: table-cell;
    width: 780px;
    background-color:#aee368;
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius:16px 0px 0px 16px;
}
.msg .infoText{
    font-weight: bold;
    text-align: center;
    display: block;
    background-color:#a89cc9;
    border: 1px solid #ccc;
    padding: 2px 9px;
    border-radius: 16px 16px 16px 16px;
}
.mergeUp{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.mergeDown{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}