.icon{
	content:'';
	background-size:cover;
    	width:24px;
    	height:24px;
	display: inline-block;
	margin-bottom: -5px;
	margin-right:5px;
	margin-left:5px;
}
.icon.icon-smile {
	background: url("ikinoktaparantez.png");
}
.icon.icon-laugh {
	background: url("ikinoktad.png");
}
.icon.icon-sad{
	background: url("sadsad.png");
}